<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ShopCart Application suit">
	<test name="ShopCart_Test">
		<classes>
			<class name="com.shopcart.qa.testcases.TC_A_LoginPageTest" />
			<class name="com.shopcart.qa.testcases.TC_B_HomePageTest" />
			<class name="com.shopcart.qa.testcases.TC_C_CatalogPageTest1"/>
			<class name="com.shopcart.qa.testcases.TC_D_OrdersPageTest" />
			<class name="com.shopcart.qa.testcases.TC_E_CustomerPageTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
